*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background-color: #D5D8DC;
}
/*Contenedor uno*/
.contenedor_uno{
	width: 100%;
	display: flex;
	justify-content: center;
}
.plantilla_uno{
	width: 95%;
	margin: 15px 0px;
	box-shadow: 5px 10px 15px;
	border-radius: 15px;
	background-color: #D35400;
	text-align: center;
	padding: 15px 0px 25px;
}
.cont_atras{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.atras{
	width: 30px;
	height: 25px;
	margin-left: 5%;
	cursor: pointer;
}
/*Lista de usuarios*/
.cont_usuarios{
	width: 100%;
	display: flex;
	height: 340px;
	flex-direction: column;
	overflow-y: scroll;
}
.cont_usuarios::-webkit-scrollbar{
	width: 3px;
}
.cont_usuarios::-webkit-scrollbar-thumb{
	background-color: #A21;
}
.usuario{
	border: 3px solid #888;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 5px auto;
	background-color: #CCC;
	cursor: pointer;
	padding: 10px 0px;
}
.usuario:hover{
	background-color: #AAA;
}
.cont_notificacion{
	width: 100%;
	display: none;
	justify-content: right;
}
.notificacion{
	width: 12px;
	height: 12px;
	background-color: #F00;
	border-radius: 50%;
	font-size: .9rem;
	font-weight: 600;
	text-align: center;
}
.datos{
	display: flex;
}
.imagen{
	width: 45px;
	height: 45px;
	margin-left: 10px;
	border: 1px solid rgba(0, 0, 0, .3);
	margin-right: 5px;
}
.cont_nombre{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.contenedor_nombre{
	border-bottom: 3px solid rgba(0, 0, 0, .2);
}
.titulo{
	padding: 5px 0px;
	text-align: center;
}
/*Contenedor dos*/
.contenedor_dos{
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #D5D8DC;
	display: none;
	justify-content: center;
}
.plantilla_dos{
	width: 95%;
	background-color: #D35400;
	height: 550px;
	border-radius: 15px;
	box-shadow: 5px 10px 15px;
	margin: 15px 0px;
}
.cont_cerrar{
	display: flex;
	justify-content: space-between;
}
.cerrar{
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
}
.contenedor_nombre{
	font-size: 1.2rem;
	padding: 0px 10px;
	padding-bottom: 10px;
	display: flex;
}
.nom{
	font-size: .9rem;
}
.cont_mensajes{
	width: 95%;
	height: 350px;
	margin: auto;
	overflow-y: scroll;
}
.cont_mensajes::-webkit-scrollbar{
	width: 3px;
}
.cont_mensajes::-webkit-scrollbar-thumb{
	background-color: #A21;
}
.mensajes{
	background-color: #D83;
	border-radius: 15px;
	padding: 10px;
	margin: 10px 0px;
}
.yo{
	background-color: #D61;
	border-radius: 15px;
	padding: 10px;
	margin: 10px 0px;
}
/*Diseño de la escritura del mensaje*/
.escribir_mensaje{
	width: 95%;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 10px 0px;
}
.nuevo{
	outline: none;
	font-size: 1rem;
	height: 55px;
	background-color: #CD4D0D;
	resize: none;
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 5px;
}
.nuevo::placeholder{
	color: #15151D;
}
.nuevo::-webkit-scrollbar{
	width: 5px;
}
.enviar{
	font-size: 1rem;
	border: none;
	padding: 3px 0px;
	cursor: pointer;
	background-color: #C04000;
	font-weight: 600;
}
.enviar:hover{
	background-color: #B30;
}
/*Diseño de la plantilla en diferentes dimensiones*/
@media(min-width: 450px){
	.plantilla_uno, .plantilla_dos{
		width: 427px;
	}
}